html, body {
    height: 100%;
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: rgba(255,255,255,0.8);
}

#root {
    height: inherit;
}

#portal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.separator-h {
    background-color: white;
}

.game-viewport {
    min-height: 60%;
    /*overflow-y: auto;*/
}

.game-viewport-full {
    height: 1vh;
    overflow-y: initial;
}

.loader {
    display: block;
    background: url("/ajax-loader.gif");
    width: 16px;
    height: 16px;
}

.icon-coin {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("/img/coin-20.png") center center;
}

.app-notify {
    width: 100%;
    margin-top: 70px;
}

.bg-secondary::placeholder {
    color: lightgray;
}